* {
 box-sizing: border-box
 }/* Set height of body and the document to 100% */



body, html {
    height: 100%;
    margin: 0;
    font-family: Garamond;
    background-color: blue;
}
h1 {

    color: white;
    margin-bottom: auto;
    margin-top: auto;
    text-align: center;
    font-size: 40px;
}
h3 {
    color: white;
    font-size: 20px;
    margin-top: 3px;
    text-align: center;
}
#chatbox {
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 60px;
}
#userInput {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 60px;
}
#textInput {
    width: 87%;
    border: none;
    border-bottom: 3px solid #009688;
    font-family: monospace;
    font-size: 17px;
}
#buttonInput {
    padding: 3px;
    font-family: monospace;
    font-size: 17px;
}
.userText {
    color: white;
    font-family: monospace;
    font-size: 17px;
    text-align: right;
    line-height: 30px;
}
.userText span {
    background-color: #009688;
    padding: 10px;
    border-radius: 2px;
}
.botText {
    color: white;
    font-family: monospace;
    font-size: 17px;
    text-align: left;
    line-height: 30px;
}
.botText span {
    background-color: #EF5350;
    padding: 10px;
    border-radius: 2px;
}
.tidbit {
    position:absolute;
    bottom:0;
    right:0;
    width: 300px;
}
.boxed {
 margin-left: auto;
 margin-right: auto;
 width: 78%;
 margin-top: 60px;
 border: 1px solid green;
 }