# run with cmd/terminal pip install -r requirements.txt

nltk
numpy
tensorflow
keras
spacy
pipwin
pyttsx3
pyaudio
SpeechRecognition
selenium
pymongo
nltk
threading

# pip install pipwin
# pipwin install pyaudio
